%^CYAN%^The rules are in place to make the game fun to play, to respect the boundaries of those who are playing it, or to ensure that everyone is able to play on equal footing.%^RESET%^

If you see something that you suspect was illegal or are dealt with unfairly by staff you are encouraged to contact law group. To that in-game you have to use %^ORANGE%^<lawmail>%^RESET%^ command.

You are expected to know and agree with the rules as a condition of playing ShadowGate.

%^ULINE%^%^MAGENTA%^Rule 1%^RESET%^%^CYAN%^ Be excellent to each other.%^RESET%^
    Be considerate towards others and respect your peers in out of character communication. If you think you might be crossing the line, apologize and keep silence. Harassment out of roleplay won't be tolerated. Bug abuse, extensive game automation, quitting to avoid death won't be allowed since it is making game unfair to others.

%^ULINE%^%^MAGENTA%^Rule 2%^RESET%^%^CYAN%^ Multiplay, don't multibox.%^RESET%^
    You're allowed to have multiple characters. As many as you want. However, logging in on multiple characters at the same time is not allowed. You may log in second character if the first one having serious technical troubles to communicate with the staff.

%^ULINE%^%^MAGENTA%^Rule 3%^RESET%^CYAN%^ Don't metagame.%^RESET%^
    You may hint other players direction they must go in-character or participate as passive escort, but spoilers (giving out quest information) are not allowed. Do not cross items, knowledge, or money between characters. Though it is impossible for you to forget what you have learned, try to roleplay to the best of your abilities.

%^ULINE%^%^MAGENTA%^Rule 4%^RESET%^%^CYAN%^ Speak English.%^RESET%^
    ShadowGate has own language system to disguise and enhance roleplaying. Please refer to %^ORANGE%^<help languages>%^RESET%^.

%^ULINE%^%^MAGENTA%^Rule 5%^RESET%^%^CYAN%^ Channels are not for roleplay.%^RESET%^
    Look into %^ORANGE%^<help line use>%^RESET%^ for proper channel use. Don't roleplay on mud-wide channels. They are for out of character communication.

%^ULINE%^%^MAGENTA%^Rule 6%^RESET%^%^CYAN%^ Killing others is allowed, but...%^RESET%^
    If you engage in %^MAGENTA%^player killing%^RESET%^ activities you're expected to abide rules in %^ORANGE%^<help pkilling>%^RESET%^. Player killing is entirely optional. Enter that realm on your own peril. You will be protected from powergaming and pointless murder, however.

%^ULINE%^%^MAGENTA%^Rule 7%^RESET%^%^CYAN%^ Follow laws.%^RESET%^
    Even though this is an adult game, we are limited by what we can allow by the real world jurisdictions. This is not some dark place of the internet. Don't roleplay rape, child abuse, or sexual assault. Do not use the game as a medium for illegal activities.  We are not your fetish club, nor are we your support group.

%^ULINE%^%^MAGENTA%^Rule 8%^RESET%^%^CYAN%^ Containers.%^RESET%^
    You should have no more than five sack-like containers on you, including backpacks, chests, etc, for an extended period of time.  You may carry one additional container like a scroll case or satchel, plus unlimited number of wearable containers like sheaths or herb pouches (once I fix them).  Exceptions are granted for temporary containers, such as temporary bags of holding, or when you have extra sacks on you to transport a lot of loot to be sold/distributed.  However, use common sense and do not abuse the fact that items placed in the container weigh zero.

%^CYAN%^This help file is the only place where rules are set, with notable exceptions mentioned in %^ULINE%^Rule 5%^RESET%^%^CYAN%^ and %^ULINE%^Rule 6%^RESET%^%^CYAN%^. There are recommendations scattered across other help files you're encouraged to follow, but you won't be held accountable for not knowing them. Learn as your game progresses.%^RESET%^

%^CYAN%^See also:%^RESET%^ line use, game, pkilling, fade to black
