#PI
/daemon/save
/adm/save
/log
/realms
/avatar
/tmp
/inv
/dest.log

#Spoilers
/d/*

#Parts of the lib are in the world
!/d/newbie
!/d/token_hunt
!/d/common
!/d/magic
!/d/shadowgate
!/d/example
!/d/obj

#fixme
*.o
