#PI
/daemon/save
/adm/db/groups.db
/adm/db/access.db
/adm/db/privs.db
/adm/save
/log
/realms
/avatar
/tmp
/inv
/dest.log

#Player data
/d/players
/d/save
/d/avatars
/d/retired
/d/player_houses

*.bak
#fixme
*.o
/.vs
/cmds/.vs
