General Rules for ShadowGate Players
====================================

ShadowGate is a Role Playing MUD. Traditionally these terms don't go
together. We are making our best attempt to provide for those who want
the functionality of a mud but RP as well. By logging into ShadowGate
you agree to at all times attempt to abide by the rules of Role Playing
outlined in <help roleplaying>. You also agree to abide by the following
set of rules. All players are expected to play and have fun. If these
are not happening for you, you should leave or mail authorities
respectively. We also ask that minors (under 18 years of age) review
these rules and the RP outline with your parents.

We provide a general outline of the rules to allow easier reference. 
Please read the entire set of rules once and then use the rules as a 
reference. Please note the golden rule.

**Triggers and timers** (or anything that essentially executes an action
for you automatically) are absolutely illegal and discovery will most 
likely result in immediate rid of the character.  As a RP mud, we expect 
you to be at the keyboard and guiding your character's actions.  If you 
have played too many games that encourage or even reward cheating, please 
be sure to leave that mentality behind.  If you can't, please just leave 
now so you don't ruin a game for honest players and immortals who are 
trying to work together to make this the best mud-based RP, D&D type 
experience anywhere.

These rules are subject to change as required by player actions and to
further improve the game.

In general, common sense should be used with regards to legal and
illegal actions. If you have a question about whether what you are
doing is legal or not, ask a wiz. The consequences will be much 
less severe than if you are caught exploiting either a bug or a 
feature of the game.

The goal of everyone here (yes, even the wizes) is to make playing
fun. If everyone keeps this in mind, then it will be a good experience.
